<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="chatList" icon="chevron-back-outline" text="" mode="md" (click)="goToChatList()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
    <div *ngFor="let message of chatMessages">


        <div *ngIf="message.Sender != 'UelCfFrbm2RirNJwR4ym'" class="chat_div ">
            <!-- Others messages -->
            <!-- Other person message -->
            <img src="../../../assets/image/patricia.png ">
            <div class="message_div ">
                <div class="chat ">
                    <p class="chat_lbl ">{{message.Message}}</p>
                </div>
                <p class="time ">{{message.Sent.seconds * 1000| date: 'h:mm a'}}</p>
            </div>
        </div>
        <div *ngIf="message.Sender == 'UelCfFrbm2RirNJwR4ym'" class="chat_div replay_div ">
            <!-- My messages -->
            <!-- Me -->
            <div class="message_div ">
                <div class="chat ">
                    <p class="chat_lbl ">{{message.Message}}</p>
                </div>
                <p class="time ">{{message.Sent.seconds * 1000| date: 'h:mm a'}}</p>

            </div>
            <img src="../../../assets/image/patricia.png ">
        </div>

    </div>





</ion-content>
<ion-footer class="ion-no-border ">
    <ion-item mode="md " lines="none ">
        <ion-input [(ngModel)]="message" placeholder="Type your message... ">
        </ion-input>
    </ion-item>
    <ion-button class="send_btn" (click)="sendMessage()">
        <ion-icon src="../../../assets/image_icon/send.svg "></ion-icon>
    </ion-button>
</ion-footer>