<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
    <h3 class="td_lbl">Today</h3>
    <div class="chat_div">
        <img src="../../../assets/image/patricia.png">
        <div class="message_div">
            <div class="chat">
                <p class="chat_lbl">hello...</p>
                <p class="chat_lbl">How May I Help You</p>
            </div>
            <p class="time">10:02 am</p>
        </div>
    </div>
    <div class="chat_div replay_div">

        <div class="message_div">
            <div class="chat">
                <p class="chat_lbl">hi</p>
                <p class="chat_lbl">I am Jasmine.</p>
                <p class="chat_lbl">I have a very Bad Spine Problem</p>
                <p class="chat_lbl">Please Help me</p>
            </div>
            <p class="time">10:12 am</p>

        </div>

        <img src="../../../assets/image/patricia.png">
    </div>
    <div class="chat_div">
        <img src="../../../assets/image/patricia.png">
        <div class="message_div">
            <div class="chat">
                <p class="chat_lbl">Book Your Appointment
                </p>
                <p class="chat_lbl">As Soon As Possible</p>
            </div>
            <p class="time">10:05 am</p>
        </div>

    </div>
    <div class="chat_div replay_div">

        <div class="message_div">
            <div class="chat">
                <p class="chat_lbl">Ok Thank you...
                    <ion-icon src="../../../assets/image_icon/white-smile.svg"></ion-icon>
                </p>

            </div>
            <p class="time">10:18 am</p>

        </div>

        <img src="../../../assets/image/patricia.png">
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-item mode="md" lines="none">
        <ion-input value="Type your message...">
        </ion-input>
    </ion-item>
    <ion-button class="send_btn">
        <ion-icon src="../../../assets/image_icon/send.svg"></ion-icon>
    </ion-button>
</ion-footer>