<ion-content>
    <div class="blured-back">
        <div class="profile-wrapper ion-text-center margin-top-60">
            <img src="../../../assets/imgs/data/doctorInfo/dr-DP.png">
        </div>

        <h2 class="ion-text-center margin-top-12">
            Rose Health Care <br> Hospital
        </h2>

        <p class="margin-top-18 ion-text-center">Ringing...</p>

        <div class="btns">
            <ion-button (click)="goToBack()">
                <ion-icon name="call-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="goToBack()">
                <ion-icon name="call-sharp"></ion-icon>
            </ion-button>
        </div>

    </div>


</ion-content>