<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Reward</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>