ion-content {
    img {
        display: block;
        margin: auto;
    }
    h2 {
        font-size: 22px;
        font-family: 'sfUi-sb';
        color: var(--ion-color-primary);
    }
}