<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons class="margin-top-24">
            <ion-button>
                <ion-back-button defaultHref="signIn" icon="chevron-back-outline"></ion-back-button>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-slides (ionSlideTransitionStart)="onSlideChange()" #slides pager="true">
        <ion-slide>
            <div class="slide">
                <img src="../../../assets/imgs/slides/slide6.svg" />
                <h2 class="margin-bottom-23">Chat 24/7 </h2>
                <p>
                    Be in contact with your mentor all time
                </p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/imgs/slides/slide7.svg" />
                <h2 class="margin-bottom-23" style="margin-top: 28vh;">Mentoring Program</h2>
                <p>
                    Get goals and meet them with your mentor.
                </p>
            </div>
        </ion-slide>
        <!-- <ion-slide>
            <div class="slide">
                <img src="../../../assets/imgs/slides/slide2.svg" />
                <h2 class="margin-bottom-23">Search and Order Medicine</h2>
                <p>
                    Aliquam faucibus, odio nec commodo aliquam, neque felis placerat dui, a porta ante lectus dapibus est. Aliquam a bibendum mi, sed
                </p>
            </div>
        </ion-slide> -->

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/imgs/slides/slide3.svg" />
                <h2 class="margin-bottom-23" style="margin-top: 20vh;">Mentoring Program</h2>
                <p>
                    Welcome!
                </p>
            </div>
        </ion-slide>

    </ion-slides>

    <ion-button (click)="goToHome()" *ngIf="activeIndex == 1" class="start-btn">
        Start
    </ion-button>

</ion-content>