ion-header {
    ion-toolbar {
        ion-title {
            font-size: 18px;
            font-family: 'sfUi-sb';
            color: var(--ion-color-primary-dark);
        }
        ion-buttons {
            ion-button {
                --padding-start: 0;
                --padding-end: 0;
                ion-back-button,
                ion-menu-button {
                    color: var(--ion-color-primary-dark);
                }
            }
        }
    }
}

ion-content {
    .heading-container {
        background: var(--ion-color-primary-dull);
        padding: 16px;
        h2 {
            font-size: 18px;
            font-family: 'sfUi-m';
            color: var(--ion-color-secondary);
        }
    }
    .offer-container {
        h2 {
            font-size: 22px;
            font-family: 'sfUi-m';
            color: var(--ion-color-secondary);
        }
        .list {
            display: flex;
            align-items: center;
            .circle {
                min-height: 7px;
                min-width: 7px;
                border-radius: 50%;
                background: var(--ion-color-secondary);
            }
            h2 {
                font-size: 14px;
                font-family: 'sfUi-m';
                color: var(--ion-color-secondary);
            }
        }
        ion-button {
            --background: none;
            --box-shadow: none;
            font-size: 14px;
            font-family: 'sfUi-m';
            color: var(--ion-color-white);
            margin: 0;
            width: 100%;
            height: 36px;
            div {
                margin-right: auto;
            }
        }
    }
}