<ion-content>

    <ion-buttons>
        <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
    </ion-buttons>

    <div>

        <h1>
            Video Call
        </h1>

    </div>

    <ion-row>
        <ion-col>
            <h3>{{user.displayName}}</h3>
        </ion-col>
        <ion-col>
            <h3>
                {{usercall.displayName}}
            </h3>
        </ion-col>

    </ion-row>

    <ion-row>
        <video style="width: 90%; max-width: 350px;" id="me" controls autoplay #me></video>
    </ion-row>
    <ion-row>
        <video style="width: 90%; max-width: 350px;" id="device" controls autoplay #me></video>
    </ion-row>


    <div class="bottom-content">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-fab-button (click)="reconnect()" d class="call-green">
                        <!-- <ion-fab-button (click)="openCam()" d class="call-green"> -->
                        <ion-icon name="call-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col>
                    <!--        <ion-avatar class="avatar">
                        <img [src]="this.callData.photoUrl ">
                    </ion-avatar> -->
                </ion-col>
                <ion-col>
                    <ion-fab-button (click)="hangup()" color="danger" class="call-red">
                        <ion-icon name="call-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <img [src]="this.img">



</ion-content>