<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Appointments</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-bottom">

    <div class="head_div">
        <h3 class="main_lbl head_lbl">Appointments <span class="ion-float-right">Total: {{totalAppointments}}</span>
            <ion-toggle [(ngModel)]="this.all" slot="end" color="primary" (ngModelChange)="allChange()"></ion-toggle>
        </h3>

    </div>

    <ion-row *ngIf="this.dates">
        <ion-col class="first_Col" style="background-color: white;">
            <h3 class="date_lbl">Start</h3>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="this.startDate" (ngModelChange)="changeDates()"></ion-datetime>
        </ion-col>
        <ion-col style="background-color: white;">
            <h3 class="date_lbl">End</h3>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="this.endDate" (ngModelChange)="changeDates()"></ion-datetime>
        </ion-col>
    </ion-row>


    <!--    <div class="data_div" style="text-align: end;">


        <ion-toggle [(ngModel)]="this.all" slot="end" color="primary"></ion-toggle>


    </div> -->


    <!--    <div class="data_div" (click)="openAppointmentPage(item)" *ngFor="let item of apps">
        
        <ion-icon name="briefcase-outline"> </ion-icon>
        <div class="card_div" [ngStyle]="getStyle(item)">
        
            <div class="info_div">
                <h3 class="name">{{item.title}} <span>{{item.appointmentdate.seconds * 1000| date: 'dd/MM/yy h:mm a' }}</span></h3>
        
                <p class="add">{{item.description}}</p>
                <p><a href="{{item.link}}" target="_system">{{item.link}}</a></p>
            </div>
        </div>
    </div> -->

    <ion-list>
        <ion-item-sliding *ngFor="let item of apps">
            <div [ngStyle]="getStyle(item)">


                <ion-item-options side="end">

                    <ion-item-option (click)="openlink(item)">


                        <ion-icon slot="icon-only" name="eye">

                        </ion-icon>

                    </ion-item-option>

                </ion-item-options>

                <ion-item (click)="openAppointmentPage(item)" class="transparentbg">
                    <ion-icon name="briefcase-outline"> </ion-icon>
                    <ion-label>

                        <h3 class="name">{{item.title}} <span>{{item.appointmentdate.seconds * 1000| date: 'dd/MM/yy h:mm a' }}</span></h3>

                        <p class="add">{{item.description}}</p>

                    </ion-label>


                </ion-item>

            </div>

        </ion-item-sliding>

    </ion-list>



    <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newAppointmentPage()">
        <ion-fab-button>
            <ion-icon name="calendar-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="newAppointmentPage()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="searchDates()">
                <ion-icon name="calendar-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>


</ion-content>
<!--<ion-footer class="ion-no-border">
    <ion-button class="main_btn" expand="full">
        cancel appointment
    </ion-button>
</ion-footer>-->