ion-header {
    ion-toolbar {
        ion-title {
            font-size: 18px;
            font-family: 'sfUi-sb';
            color: var(--ion-color-primary-dark);
        }
        ion-buttons {
            ion-button {
                --padding-start: 0;
                --padding-end: 0;
                ion-back-button,
                ion-menu-button {
                    color: var(--ion-color-primary-dark);
                }
            }
        }
    }
}

ion-content {
    .main_lbl {
        font-size: 16px;
        color: var(--blue);
        font-family: "sf_ui_md";
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .date_div {
        background-color: var(--div_back);
        margin-top: 10px;
        ion-col {
            text-align: center;
            padding: 11px 0px 0px 0px;
            .date_lbl {
                font-size: 14px;
                color: var(--blue);
                font-family: "sf_ui_md";
                margin: 0;
            }
            ion-datetime {
                color: var(--my_theme);
                font-family: "sf_ui_md";
                font-size: 14px;
                padding-left: 0;
                padding-top: 5px;
                padding-bottom: 0;
            }
            .time_l {
                color: var(--blue);
                margin-bottom: 10px;
            }
        }
        .first_Col {
            /*border-right: solid;
            border-right-color: var(--lht_blue);
            border-right-width: 1px;*/
        }
    }
    .head_div {
        height: 40px;
        background-color: var(--div_back);
        padding: 0px 16px;
        //margin-top: 30px;
        display: flex;
        align-items: center;
        .head_lbl {
            margin: 0;
            width: 100%;
            span {
                font-size: 13px;
                color: var(--lht_blue);
            }
        }
    }
    .data_div {
        display: flex;
        padding: 10px 16px;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        .time {
            font-size: 16px;
            color: var(--lht_blue);
            font-family: "sf_ui_md";
            margin: 0;
            width: 50px;
            text-align: center;
        }
        .card_div {
            display: flex;
            margin-left: 10px;
            padding: 10px 10px 10px 5px;
            border-radius: 5px;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
            width: 100%;
            img {
                height: 58px;
                width: 58px;
                border-radius: 5px;
            }
            .info_div {
                padding-left: 15px;
                width: 100%;
                padding-top: 3px;
                .name {
                    font-size: 16px;
                    color: var(--blue);
                    font-family: "sf_ui_md";
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: 12px;
                    }
                }
                .age {
                    font-size: 12px;
                    color: var(--blue);
                    font-family: "sf_ui_md";
                    margin: 3px 0px;
                }
                .add {
                    font-size: 12px;
                    color: var(--lht_blue);
                    font-family: "sf_ui_r";
                    margin: 0;
                }
            }
        }
    }
}

.stacked-lbl {
    font-size: 19px;
    color: var(--blue);
    font-family: "sf_ui_md";
    margin: 0;
}

ion-fab-button {
    color: var(--ion-color-primary-dark)
}