<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Appointments</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-bottom">

    <div class="head_div">
        <h3 class="main_lbl head_lbl">Next appointments <span class="ion-float-right">Total: {{totalAppointments}}</span></h3>
    </div>

    <div class="data_div" (click)="openAppointmentPage(item)" *ngFor="let item of Appointments">
        <p class="time">{{item.time | TimeFormat}}</p>
        <div class="card_div">
            <!--<img [src]="item?.img">-->
            <div class="info_div">
                <h3 class="name">{{item.title}} <span>{{item.date | date: 'mediumDate' }}</span></h3>
                <!--<p class="age">Age : {{item?.age}}</p>-->
                <p class="add">{{item.description}}</p>
            </div>
        </div>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newAppointmentPage()">
        <ion-fab-button>
            <ion-icon name="calendar-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
<!--<ion-footer class="ion-no-border">
    <ion-button class="main_btn" expand="full">
        cancel appointment
    </ion-button>
</ion-footer>-->