<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Rewards</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-bottom">
    <h3 class="main_lbl ion-padding-start">Rewards</h3>
    <h5 class="submain_lbl ion-padding-start">Meet your goals and get rewards!</h5>
    <ion-list>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/chat.png">
            </ion-avatar>
            <ion-label>
                <h2>Chat in the year</h2>
                <p>Dec, 31 2021</p>
                <p>
                    <ion-progress-bar color="danger" value=".1"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/highway.png">
            </ion-avatar>
            <ion-label>
                <h2>Clean the city</h2>
                <p>Jan, 01 2021</p>
                <p>
                    <ion-progress-bar color="success" value="1"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/certificate.png">
            </ion-avatar>
            <ion-label>
                <h2>Health course</h2>
                <p>Feb, 25 2021</p>
                <p>
                    <ion-progress-bar color="warning" value="0.8"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/dumbbells.png">
            </ion-avatar>
            <ion-label>
                <h2>Go to gym</h2>
                <p>Feb, 01 2021</p>
                <p>
                    <ion-progress-bar color="danger" value="0.10"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/stethoscope.png">
            </ion-avatar>
            <ion-label>
                <h2>Medical Checkout</h2>
                <p>Mar, 01 2021</p>
                <p>
                    <ion-progress-bar color="success" value="1"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/salad.png">
            </ion-avatar>
            <ion-label>
                <h2>Eat fruit and vegetables</h2>
                <p>Dec, 01 2021</p>
                <p>
                    <ion-progress-bar color="warning" value="0.5"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/no-smoking.png">
            </ion-avatar>
            <ion-label>
                <h2>No somking</h2>
                <p>Dec, 01 2021</p>
                <p>
                    <ion-progress-bar color="warning" value="0.5"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/date.png">
            </ion-avatar>
            <ion-label>
                <h2>Monthly date (February)</h2>
                <p>Jan, 01 2021</p>
                <p>
                    <ion-progress-bar color="success" value="1"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openReward()">
            <ion-avatar slot="start">
                <img src="../../../assets/image_icon/video-call.png">
            </ion-avatar>
            <ion-label>
                <h2>Monthly call (February)</h2>
                <p>Jan, 02 2021</p>
                <p>
                    <ion-progress-bar color="success" value="1"></ion-progress-bar>
                </p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>