<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Rewards</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-bottom">
    <div class="head_div">
        <h3 class="main_lbl ion-padding-start head_lbl">Rewards<span class="ion-float-right"> </span>
            <ion-toggle [(ngModel)]="this.all" slot="end" color="primary" (ngModelChange)="allChange()"></ion-toggle>
        </h3>
        <h5 class="submain_lbl ion-padding-start">Meet your goals and get rewards!</h5>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center;">

            <!-- <ion-label>{{this.advancetotal}}</ion-label> -->

            <circle-progress [percent]="this.advancetotal" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="8" [outerStrokeColor]="'#398bf7'" [innerStrokeColor]="'#96c3fd'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>
        <div class="col-md-3"></div>
    </div>


    <hr>


    <ion-list>

        <ion-item *ngFor="let reward of this.rewards" (click)="openReward(reward)">
            <ion-label>
                <h2>{{reward.title}}</h2>
                <p>{{reward.dateline.seconds*1000 | date}}</p>
                <p>
                    <ion-progress-bar [color]="getColor(reward)" [value]="reward.advance"></ion-progress-bar>
                </p>
            </ion-label>

        </ion-item>



    </ion-list>
</ion-content>