<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
    <h3 class="main_lbl ion-padding-start">Chats</h3>
    <div class="today_div">
        <ion-item *ngFor="let chat of this.chatService.chatsUsers" lines="full" (click)="openChat(chat)" mode="md">
            <ion-avatar slot="start">
                <img [src]="chat?.photoUrl">
            </ion-avatar>
            <ion-label>
                <h3 class="name">{{chat?.displayName}} <span class="ion-float-right"></span></h3>


                <!-- <h3 class="name">{{chat?.Title}} <span class="ion-float-right">{{chat?.LastMessageSent.seconds * 1000| date: 'yyyy-MM-dd h:mm: a'}}</span></h3> -->
                <!-- <p class="detail"></p> -->
            </ion-label>
            <ion-badge color="primary">{{chat?.unread}}</ion-badge>
        </ion-item>
    </div>




    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openUsersPage()">
        <ion-fab-button>
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>