<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
    <h3 class="main_lbl ion-padding-start">Chats</h3>
    <div class="today_div">
        <ion-item *ngFor="let item of today" lines="full" (click)="openChat()" mode="md">
            <ion-avatar slot="start">
                <img [src]="item?.img">

            </ion-avatar>
            <ion-label>
                <h3 class="name">{{item?.name}} <span class="ion-float-right">{{item?.ago}}</span></h3>
                <p class="detail">{{item?.detail}}</p>
            </ion-label>
        </ion-item>
    </div>
    <!-- <h3 class="info_lbl ion-padding-start">25,Nov 2019</h3>-->
    <div class="today_div">
        <ion-item *ngFor="let item of yesterday" lines="full" (click)="openChat()" mode="md">
            <ion-avatar slot="start">
                <img [src]="item?.img">
            </ion-avatar>
            <ion-label>
                <h3 class="name">{{item?.name}} <span class="ion-float-right">{{item?.ago}}</span></h3>
                <p class="detail">{{item?.detail}}</p>
            </ion-label>
        </ion-item>
    </div>

    <div class="today_div">
        <ion-item *ngFor="let item of today" lines="full" (click)="openChat()" mode="md">
            <ion-avatar slot="start">
                <img [src]="item?.img">

            </ion-avatar>
            <ion-label>
                <h3 class="name">{{item?.name}} <span class="ion-float-right">{{item?.ago}}</span></h3>
                <p class="detail">{{item?.detail}}</p>
            </ion-label>
        </ion-item>
    </div>




    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openUsersPage()">
        <ion-fab-button>
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>