ion-header {
    ion-toolbar {
        ion-title {
            font-size: 18px;
            font-family: 'sfUi-sb';
            color: var(--ion-color-primary-dark);
        }
        ion-buttons {
            ion-button {
                --padding-start: 0;
                --padding-end: 0;
                ion-back-button,
                ion-menu-button {
                    color: var(--ion-color-primary-dark);
                }
            }
        }
    }
}

ion-content {
    .heading {
        font-size: 16px;
        font-family: 'sfUi-m';
        color: var(--ion-color-primary-dark);
    }
    ion-card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 16%);
        margin-bottom: 25px;
        .doctor-detail {
            border-bottom: 1px solid #DCEEFE;
            ion-avatar {
                height: 49px;
                width: 49px;
                box-shadow: 0 0 5px rgba(0, 135, 255, 30%);
                img {
                    height: 49px;
                    width: 49px;
                    border-radius: 50%;
                    border: 2px solid var(--ion-color-white);
                }
            }
            ion-label {
                .doctor-name {
                    font-size: 16px;
                    font-family: 'sfUi-m';
                    color: var(--ion-color-primary-dark);
                }
                .specialist {
                    font-size: 11px;
                    font-family: 'sfUi-m';
                    color: var(--ion-color-primary-light);
                }
                .location {
                    font-size: 12px;
                    font-family: 'sfUi-m';
                    color: var(--ion-color-primary-light);
                    line-height: 1.2;
                    white-space: normal;
                }
                .more-btn {
                    height: auto;
                    width: auto;
                    --padding-start: 0;
                    --padding-end: 0;
                    margin: 0;
                    position: absolute;
                    right: 9px;
                    top: 18px;
                    color: var(--ion-color-primary-dark);
                }
            }
        }
        .other-info {
            display: flex;
            justify-content: space-around;
            h2 {
                font-size: 11px;
                font-family: 'sfUi-m';
                color: var(--ion-color-primary-light);
            }
            h3 {
                font-size: 12px;
                font-family: 'sfUi-m';
                color: var(--ion-color-primary-dark);
            }
        }
    }
}