<ion-content>
    <div class="main-container">
        <div class="bottom-container padding-left-22 padding-right-22">
            <img class="app-logo" src="../../../assets/imgs/app-icon.png">
            <h2 class="title margin-top-22">A Digital Solution For Substance Use Disorder</h2>
            <div class="social-btns margin-top-19">
                <ion-button (click)="signinGoogle()">
                    <ion-icon src="../../../assets/imgs/appicons/google.svg"></ion-icon> Google</ion-button>
                <ion-button>
                    <ion-icon src="../../../assets/imgs/appicons/facebook.svg"></ion-icon> Facebook</ion-button>
            </div>
            <!-- <p class="sign-up-line margin-top-30">Already have an account? <a (click)="goToSignIn()">Sign in</a></p> -->
        </div>
    </div>
</ion-content>