<ion-header class="ion-no-border searchable-header">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item class="doctor-info" lines="none">
        <ion-avatar slot="start">
            <img src="../../../assets/imgs/data/appointmentDetail/dr_dp.png">
        </ion-avatar>
        <ion-label>
            <h2 class="shop-name margin-bottom-4">Rose Health Care</h2>
            <h3 class="doctor-name margin-bottom-4">Dr.Rose Ortiz</h3>
            <p class="location">
                <ion-icon class="margin-right-10" src="../../../assets/imgs/appicons/location.svg">
                </ion-icon>
                <span>
                  Low Mill Farm, Lendales Lane, Pickering, YO18 8EE
                </span>
            </p>
        </ion-label>
    </ion-item>

    <div class="stepper-container margin-top-10">
        <div class="step">
            <div class="step-content">
                <div class="line-bar">
                    <div class="line"></div>
                    <div class="circle"></div>
                    <div class="line in-progress"></div>
                </div>
                <h2 class="margin-top-10">
                    Patient Detail
                </h2>
            </div>
            <div class="step-content">
                <div class="line-bar">
                    <div class="line in-progress"></div>
                    <div class="circle in-progress"></div>
                    <div class="line in-progress"></div>
                </div>
                <h2 class="margin-top-10">
                    Date & Time
                </h2>
            </div>
            <div class="step-content">
                <div class="line-bar">
                    <div class="line in-progress"></div>
                    <div class="circle in-progress"></div>
                    <div class="line in-progress"></div>
                </div>
                <h2 class="margin-top-10">
                    Payment
                </h2>
            </div>
            <div class="step-content">
                <div class="line-bar">
                    <div class="line in-progress"></div>
                    <div class="circle in-progress"></div>
                    <div class="line in-progress"></div>
                </div>
                <h2 class="margin-top-10">
                    Booking Confirm
                </h2>
            </div>
        </div>
    </div>
</ion-content>