@font-face {
    font-family: "sfUi-b";
    src: url("../assets/fonts/SFUIText-Bold.woff");
}

@font-face {
    font-family: "sfUi-r";
    src: url("../assets/fonts/SFUIText-Regular.woff");
}

@font-face {
    font-family: "sfUi-sb";
    src: url("../assets/fonts/SFUIText-Semibold.woff");
}

@font-face {
    font-family: "sfUi-m";
    src: url("../assets/fonts/SFUIText-Medium.woff");
}

@font-face {
    font-family: "sfUi-ri";
    src: url("../assets/fonts/SFUIText-RegularItalic.woff");
}

@font-face {
    font-family: "sfUi-bi";
    src: url("../assets/fonts/SFUIText-BoldItalic.woff");
}