// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "./fonts.scss";

/** Ionic CSS Variables **/

.sc-ion-popover-md-h,
.sc-ion-popover-ios-h {
    --width: 151px !important;
    border-radius: 4px !important;
}

.popover-arrow.sc-ion-popover-ios::after {
    background: #1f8ced !important;
}

:root {
    /** custom **/
    --ion-color-primary: #4769AD;
    --ion-color-secondary: #7278AD;
    --ion-color-primary-light: #7F98B2;
    --ion-color-primary-dark: #003165;
    --ion-color-primary-dull: #DCEEFE;
    --ion-color-white: white;
    --ion-color-black: black;
    --ion-color-black-light: #444444;
    --ion-color-silver: #e5e5e5;
    --ion-input-back: #1f8ced1a;
    --ion-color-red: #FF4747;
    /** gradients **/
    --ion-blackWhite-gradients: linear-gradient(180deg, #0000 25%, #000 95%);
    //custom color
    --my_theme: #1f8ced;
    --white: #ffffff;
    --yellow: #ffb600;
    --lht_yellow: #ffe420;
    --gray: #a4a4a4;
    --black: #333333;
    --div_border: #dee8f3;
    --blue: #003165;
    --lht_gray: #999999;
    --input_back: #e8f3fd;
    --lht_bc: #444444;
    --div_back: #dceefe;
    --lht_blue: #7f98b2;
    --red: #ff4747;
    --silver: #e5e5e5;
    --star: #cfcfcf;
    --green: #10d87b;
}


/*Admin fotns import*/

@font-face {
    font-family: "sf_ui_b";
    src: url("../assets/fonts/SFUIText/SFUIText-Bold.ttf");
}

@font-face {
    font-family: "sf_ui_md";
    src: url("../assets/fonts/SFUIText/SF-UI-Text-Medium.ttf");
}

@font-face {
    font-family: "sf_ui_r";
    src: url("../assets/fonts/SFUIText/SFUIText-Regular.ttf");
}

@font-face {
    font-family: "sf_ui_sb";
    src: url("../assets/fonts/SFUIText/SFUIText-Semibold.ttf");
}

@font-face {
    font-family: "sf_ui_i";
    src: url("../assets/fonts/SFUIText/SFUIText-RegularItalic.ttf");
}

@font-face {
    font-family: "sf_ui_md_i";
    src: url("../assets/fonts/SFUIText/SFUIText-MediumItalic.ttf");
}