<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">

    <ion-item>
        <h3 class="main_lbl ion-padding-start">New chat with:</h3>

        <ion-toggle [(ngModel)]="this.group" slot="end" color="primary"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="this.group">
        <ion-input style="font-size: 20px !important;" [(ngModel)]="this.namegroup" placeholder="Group Name">
        </ion-input>
    </ion-item>

    <div class="today_div">
        <ion-item *ngFor="let item of Users" lines="full" (click)="openChat(item)" mode="md">
            <ion-avatar slot="start">
                <img [src]="item?.photoUrl">
            </ion-avatar>
            <ion-label>
                <h3 class="name">{{item?.displayName}}</h3>
                <p class="detail">{{item?.email}}</p>
            </ion-label>
            <ion-checkbox *ngIf="this.group" color="primary" [(ngModel)]="item.isChecked"></ion-checkbox>

        </ion-item>
    </div>

    <!-- <ion-button (click)="info()">VER</ion-button> -->
    <ion-fab *ngIf="this.group" vertical="bottom" horizontal="end" slot="fixed" (click)="openChatGroup()">
        <ion-fab-button>
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>