<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Appointment</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="date_div" style="margin: 10px 15px 15px 15px;background: #ffffff; border-radius: 5px;">



        <ion-row>
            <ion-col style="padding-top: 0px;">
                <ion-item>
                    <ion-label position="stacked" class="stacked-lbl">Title</ion-label>
                    <ion-input [(ngModel)]="title"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col style="padding-top: 0px;">
                <ion-item>
                    <ion-label position="stacked" class="stacked-lbl">Description</ion-label>
                    <ion-textarea [(ngModel)]="description"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col class="first_Col" style="background-color: white;">
                <h3 class="date_lbl">Date</h3>
                <ion-datetime displayFormat="MMM DD YYYY" placeholder="Nov 01 2019" [(ngModel)]="date"></ion-datetime>
            </ion-col>
            <ion-col style="background-color: white;">
                <h3 class="date_lbl">Time</h3>
                <ion-datetime displayFormat="hh:mm a" placeholder="10:00 am" [(ngModel)]="date"></ion-datetime>
            </ion-col>
            <!--<ion-col>
                <h3 class="date_lbl">End Date</h3>
                <ion-datetime id="dynamicDisabled" displayFormat="DD MMM YYYY" placeholder="30 Nov 2019"></ion-datetime>
                <ion-datetime id="dynamicDisabled" displayFormat="hh:mm a" placeholder="10:00am" class="time_l"></ion-datetime>
            </ion-col>-->
        </ion-row>

        <hr>

        <ion-row *ngIf="this.edit && this.canedit">
            <ion-col style="padding-top: 0px;">
                <ion-label position="stacked" class="stacked-lbl">Done</ion-label>
                <ion-checkbox [(ngModel)]="done"> </ion-checkbox>
            </ion-col>
        </ion-row>

        <hr>

        <!--   <ion-row>
            <ion-text>
                {{this.data |json}}
            </ion-text>
        </ion-row> -->


        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
                <ion-button *ngIf="!this.edit" expand="block" class="plan-btn margin-top-30" (click)="addappintment()">
                    Save
                </ion-button>
                <ion-button *ngIf="this.edit && this.canedit" expand="block" class="plan-btn margin-top-30" (click)="editappintment()">
                    Edit
                </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>

    </div>
</ion-content>